@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* MOMENTANEI */
.temp-style-red{
    background-color: red;
    border: 3px dashed black;
}

.temp-style-green{
    background-color: greenyellow;
    border: 3px dashed black;
}

.temp-height-70{
    height: 50px;
    background-color: greenyellow;
    border: 3px dashed black;
}

/* HEADER */
header{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 20px;
}

.main_sidebar{
    height: 100vh;
    width: 90px;
    background-color: #12283f;
}

.main_section{
    width: calc(100% - 90px);
    height: 100vh;
    background-color: rgb(145, 255, 0);
}