@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* MOMENTANEI */

.temp-style-red{
    background-color: red;
    border: 3px dashed black;
}

.temp-style-yellow{
    background-color: yellow;
    border: 3px dashed black;
    height: 50px;
}

.temp-style-green{
    background-color: greenyellow;
    border: 3px dashed black;
}

.temp-height-70{
    height: 50px;
    background-color: greenyellow;
    border: 3px dashed black;
}

.temp-height-200{
    height: 700px;
    background-color: red;
    border: 3px dashed black;
}

.main_section section:nth-child(1){
    background-color: #1b72e8;
    width: 100%;
}

/* HEADER */
header{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 90px;
}

.col_logo{
    width: 50px;
}

/* MAIN */
/* Sidebar [MAIN] */
.main_sidebar{
    position: fixed;
    height: calc(100vh - 90px);
    margin-top: 90px;
    width: 90px;
    background-color: #12283f;
}

/* Sezione principale [MAIN] */
.main_section{
    width: calc(100% - 90px); /* Rimuove la larghezza della sidebar */
    height: calc(100vh - 90px); /* Rimuove l'altezza dell'header */
    margin-top: 90px;
    margin-left: 90px;
}

.fa-code{
    background-color: #f26551;
    padding: 10px 8px;
    border-radius: 100px;
}

.search_bar{
    position: relative;
}
    .fa-magnifying-glass {
        font-size: 20px;
        margin-left: 10px;
        position: absolute;
    }