@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 90px;
}

.col_logo{
    width: 50px;
}

/* Barra di ricerca [HEADER] */
.search_bar{
    position: relative;
}

/* Posizionamento lente nella barra di ricerca [HEADER] */
.fa-magnifying-glass {
    font-size: 20px;
    margin-left: 10px;
    position: absolute;
}

/* MAIN */
/* Barra delle informazioni e aggiunta studente [MAIN] */
.main_info_section{
    background-color: #1b72e8;
    width: 100%;
}

/* Bottone per l'aggiunta dello studente [MAIN] */
.btn_student{
    color: white;
}

.btn_student:hover{
    background-color: rgb(146, 146, 146);
    color: black;
}

/* Sidebar [MAIN] */
.main_sidebar{
    position: fixed;
    height: calc(100vh - 90px);
    margin-top: 90px;
    width: 60px;
    background-color: #12283f;
    background-image: url(../img/sidebar-bg.png);
}

/* Sezione principale [MAIN] */
.main_section{
    width: calc(100% - 60px); /* Rimuove la larghezza della sidebar */
    height: calc(100vh - 90px); /* Rimuove l'altezza dell'header */
    margin-top: 90px;
    margin-left: 60px;
}

/* Icona classe [GESTIONE/TABELLA] */
.fa-code{
    background-color: #f26551;
    padding: 10px 8px;
    border-radius: 100px;
}

/* Centratura dal secondo elemento in poi nella tabella [GESTIONE/TABELLA] */
td:nth-child(2), 
td:nth-child(3), 
td:nth-child(4), 
td:nth-child(5){
    text-align:center;
}

/* Hover per le linee della tabella [GESTIONE/TABELLA] */
tr:hover td{
    background-color: rgb(194, 194, 194);
}

/* Hover per il menù della sidebar [GESTIONE/TABELLA] */
.sidebar_menu_hover li:hover{
    background-color: rgb(166, 166, 166);
    cursor: pointer;
}


@media screen and (max-width: 992px) {
    /* Dimensione del canvas a tutto schermo nella modalità mobile [OFFCANVAS] */
    .canvas_responsive{
        min-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    /* Ridimensionamento sidebar nella modalità desktop [SIDEBAR] */
    .main_sidebar{
        width: 140px;
    }

    /* Riadattamento del main nella modalità desktop [MAIN] */
    .main_section{
        width: calc(100% - 140px); /* Rimuove la larghezza della sidebar */
        margin-left: 140px;
    }
}